<!DOCTYPE html>
<html>
<head>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<title>Basic Vue</title>
</head>
<body>

	<div id="app">
		<ol>
			<li v-if="visibility" v-for="(name,index) in names" :key="name.id">{{name.fname}} {{name.lname}}
				<button @click="deleteEvent(index)">Delete</button>
				<button @click="editEvent(name.id)">Edit</button>
			</li>
		</ol>
		<button @click="visibility = !visibility">{{visibility ? 'Hide' : 'Show'}}</button>
		<br>
		<h1>Add</h1>
		<br>
		<h3>First Name</h3>
		<input v-model="fname">
		<h3>Last Name</h3>
		<input v-model="lname">
		<br>
		<button @click="input">Save</button>
		<br>
		<template v-if="id_edit">
			<h1>Edit</h1>
			<br>
			<h3>First Name</h3>
			<input v-model="fname">
			<h3>Last Name</h3>
			<input v-model="lname">
			<br>
			<button @click="edit(id_edit)">Edit</button>
		</template>
	</div>

	<script>

		var app = new Vue({
			el : '#app',
			data : {
				names :[
					{id:1, fname : 'aa',lname : 'AA'},
					{id:2, fname : 'bb',lname : 'BB'},
					{id:3, fname : 'cc',lname : 'CC'},
					{id:4, fname : 'dd',lname : 'DD'},
					{id:5, fname : 'ee',lname : 'EE'}
				],
				visibility : true,
				id_edit : null
			},
			methods : {
				input(){
					let id = this.names[this.names.length-1].id
					this.names.push({
						id : id+1,
						fname : this.fname,
						lname : this.lname
					})
					this.fname=''
					this.lname=''
				},
				edit(id){
					let a = this.names.findIndex(x => x.id===id)
					this.$set(this.names,a,{id,fname:this.fname,lname:this.lname})
					this.id_edit=null
					this.fname=''
					this.lname=''		
				},
				editEvent(id){
					this.id_edit = id
				},
				deleteEvent: function(event) {
				  this.names.splice(event, 1);
				}
			}
		})

	</script>

</body>
</html>
